* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url("Firefly\ game\ background\ image\ 76240\ \(1\).jpg");
    /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
   
}

h1 {
    text-align: center;
    color: black; 
    margin-top: 50px;
    display: inline; 
    background-color: white;
}

h3{
    color:yellow;
    text-align: center;
    margin-top: 20px;
}

#chance {
    margin-top: 7%;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 6%;
}

#row-1, #row-2, #row-3 {
    display: flex;
    justify-content: center;
    text-align: center;
}


.btn {
    width: 50px;
    height: 50px;
    color:blue;
}

#reset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#resultText, #reset-btn {
    visibility: hidden;
}

#reset-btn {
    width: 100px;
    height: 50px;
    border-width: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}

#reset-btn:hover {
    background-color:red;
    color: white;
    cursor: pointer;
}